{% extends 'templates/default.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <form action="{{ path_for('auth.profile') }}" method="POST" class="form-horizontal">
                <fieldset>
                <legend>Update Your Profile</legend>
                <div class="form-group{% if errors.has('new_email') %} has-error{% endif %}">
                    <label class="col-md-2 control-label" for="new_email">E-Mail</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="new_email" placeholder="Your E-Mail" value="{{ auth.user.email }}">
                    </div>
                </div>
                {{ csrf.field | raw }}
                    <button class="btn btn-raised btn-success" type="submit">Update</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <form action="{{ path_for('auth.password.change') }}" method="POST" class="form-horizontal">
                <fieldset>
                <legend>Change Your Password</legend>
                <div class="form-group{% if errors.has('current_password') %} has-error{% endif %}">
                    <label class="col-md-2 control-label" for="current_password">Current Password</label>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="current_password" placeholder="Current Password">
                    </div>
                </div>
                <div class="form-group{% if errors.has('new_password') %} has-error{% endif %}">
                    <label class="col-md-2 control-label" for="new_password">New Password</label>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="new_password" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group{% if errors.has('confirm_new_password') %} has-error{% endif %}">
                    <label class="col-md-2 control-label" for="confirm_new_password">Confirm New Password</label>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="confirm_new_password" placeholder="Confirm New Password">
                    </div>
                </div>
                {{ csrf.field | raw }}
                    <button class="btn btn-raised btn-info" type="submit">Change Password</button>
                </fieldset>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
