<div class="list-group">
  <a class="list-group-item {{ page == "adminHome" ? ' active' : '' }}" href="{{ path_for('admin.home') }}">Home</a>
  <a class="list-group-item {{ page == "adminUserList" ? ' active' : '' }}" href="{{ path_for('admin.users.list') }}">User List</a>
  <a class="list-group-item {{ page == "adminRoleList" ? ' active' : '' }}" href="{{ path_for('admin.roles.list') }}">Role List</a>
</div>