{% extends 'admin/templates/admin.twig' %}
{% set page = "adminRoleList" %}
{% block content %}

    <div class="card">
        <div class="card-header clearfix">
            <h4 class="pull-left">Role List</h4>
            <div class="pull-right">
                {% if auth.user.isSuperAdmin() or auth.user.can('create role') %}
                    <a class="btn btn-success" href="{{ path_for('admin.roles.create') }}"><i class="fa fa-plus fa-fw"></i> Create Role</a>
                {% endif %}
            </div>
        </div>
        <div class="card-block">
            {% if roles is empty %}
                <h4 class="text-center">No results found!</h4>
            {% else %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.title }}</td>
                            <td class="text-center">
                                {% if auth.user.isSuperAdmin() or auth.user.can('edit role') %}
                                    <a href="{{ path_for('admin.roles.edit', {roleId: role.id})}}" class="btn-sm btn-info">
                                        <i class="fa fa-edit"></i>
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-danger disabled">
                                        <i class="fa fa-ban"></i>
                                {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                {{ roles.links|raw }}
            {% endif %}
        </div>
    </div>

{% endblock %}
