{% extends 'admin/templates/admin.twig' %}
{% set page = "adminUserList" %}
{% block content %}

    <div class="card">
        <div class="card-header clearfix">
            <h4 class="pull-left">User List</h4>
        </div>
        <div class="card-block">
            {% if users is empty %}
                <h4 class="text-center">You don't have any registerd users.</h4>
            {% else %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>E-Mail</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td class="{{ user.isAdmin() or user.isSuperAdmin() ? 'text-danger' : '' }}">{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <label class="badge badge-{{ user.active == true ? 'success' : 'danger' }}">{{ user.active == true ? 'Yes' : 'No' }}</label>
                            </td>
                            <td class="text-center">
                                {% if auth.user.canEdit(user) %}
                                <a href="{{ path_for('admin.users.edit', {userId: user.id}) }}" class="btn-sm btn-info">
                                    {% else %}
                                    <a href="#" class="btn btn-sm btn-danger disabled">
                                        {% endif %}
                                        {% if not auth.user.canEdit(user) %}
                                            <i class="fa fa-ban"></i>
                                        {% else %}
                                            <i class="fa fa-edit"></i>
                                        {% endif %}
                                    </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                {{ users.links|raw }}
            {% endif %}
        </div>
    </div>

{% endblock %}